.slick-slider {

	outline:none !important;
}

.slick-slide, .slick-slide *{ outline: none !important; }

.slick-slide {
	outline: none;
	 display: flex;
}

.bg {
	background:  #fff !important;
}


.slick-prev:hover {
	color:#eee;
	background:#aaa;

	
	
}
.slick-next:hover {
	color:#eee;
	background:#aaa;

	
}

.slick-next{
	right:-4%;
	color:#ccc;
	height:50px;
	width: 50px;
	transition: all .3s;
	border-radius: 50%;
}

.slick-prev {
	z-index: 99999;
	left:-4%;
	color:#ccc;
	height:50px;
	width: 50px;
	top: 30rem;
	transition: all .3s;
	border-radius: 50%;
}

@media screen and (min-width: 1024px) {
	.slick-prev,
	.slick-next {
		top: 50%;
		height:70px;
		width: 70px;
	}
	.slick-prev {
		left:-7%;
	}
	.slick-next {
		right:-7%;
	}
}

